<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" type="text/css" href= "/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">

</head>
<body>

  <header class="all-bills-header">
        <button><a href="/logout">Logout</a></button>
  </header>
      <!--
  ****************DISPLAYS BILL INFO********************** -->
    <main>
      <div class = 'row all-bills'>
      <h1>All Bills</h1>
      <p>Date: <%=date%></p>
      <p>Name: <%=name%></p>
      <p><a href= "/profile">< Go Back</a></p>
    </div>


        <table class="table col-11">
          <thead>
            <th>Due Date</th>
            <th>Type</th>
            <th>Recurring</th>
            <th>Company</th>
            <th>Amount</th>
            <th>Del</th>

          </thead>
          <tbody>
          <% for(var i=0; i<bills.length; i++) {%>

            <tr>
              <td><%=bills[i].dueDate%></td>
              <td><%=bills[i].type%></td>

              <% if(bills[i].recurring == true) { %>
                <td>Yes</td>
              <%} else{ %>
                <td>No</td>
              <%}%>
              <td><%=bills[i].company%></td>
              <td class="minimum minimum-<%=bills[i].paid%>">$<%=bills[i].minimum%></td>
              <td><a href="/all-bills-delete/<%=bills[i]._id%>"><i class="fa fa-trash-o" style="font-size:24px"></i></td></a>

            </tr>

          <% } %>
          </tbody>
        </table>

    </main>


  </div>
  </body>
  </html>
