<!doctype html>
<html>
<head>
    <title>Bill Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href= "/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">
</head>
<body>

  <header>
        <button class+"logout"><a href="/logout">Logout</a></button>
        <button class= "view-all-bills"><a href="/all-bills"> View All Bills </a></button></p>

  </header>

    <div class="row">
      <p class = "welcome">Welcome <%=name%>!</p>


  </div>
<div class= 'account-info'>

  <h4><%=start%> - <%=end%></h4>


</div>


<!-- ******DISPLAYS BILL INFO********************** -->
  <main class ='row'>

      <table class="table col-11">
        <thead>
          <th>Due Date</th>
          <th>Type</th>
          <!-- <th>Recurring</th> -->
          <th>Company</th>
          <th>Due</th>
          <th>Paid</th>
          <th>Paid</th>
          <th>Del</th>

        </thead>
        <tbody>
        <% for(var i=0; i<bills.length; i++) {%>
          <tr>
            <td><%=bills[i].dueDate%></td>
            <td><%=bills[i].type%></td>

            <td><%=bills[i].company%></td>
            <td class="minimum minimum-<%=bills[i].paid%>">$<%=bills[i].minimum%></td>
            <td> <input class="amount" type="text" data-bill="<%=bills[i]._id%>" value="<%=bills[i].amountPaid%>"/></td>
            <% if(bills[i].paid == true){ %>
              <td><input type="checkbox" name="paid" checked class="paid-check" data-bill="<%=bills[i]._id%>"/></td>
            <% } else { %>
              <td><input type="checkbox" name="paid" class="paid-check" data-bill="<%=bills[i]._id%>"/></td>
            <% } %>
            <td><a href="/bill-delete/<%=bills[i]._id%>"><i class="fa fa-trash-o" style="font-size:24px"></i></td></a>
          </tr>
        <% } %>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td align="right" >Total Due:</td>
          <td class="due">$<%=total%></td>
          <td></td>
          <td></td>

        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td align="right">Total Paid:</td>
          <td class="totalPaid"><strong>$<%=totalPaid%></strong></td>
          <td></td>
          <td><form-info

        </tr>


        </tbody>
      </table>

      <p class ='remaining'>Remaining Due by <%= end%> :</p> <p class ='remaining diff red'> $<%=difference%></p>
  </main>






<!-- *********************ADD NEW BILLS****************************** -->
  <div class= "new row">

    <div class= "add-bill-form col-11">


          <form method="post" action="/bill" id="myForm">
              <p class = "form-info"><label>Due Date</label> <input  class="info" type="date" name="dueDate"/>
              <p  class ="form-info"><label>Type</label><input class="info" type="text" name="type"/></p>
              <p  class ="form-info"><label>Company</label> <input class="info" type="text" name="company"/></p>
              <p  class ="form-info"><label>Amount Due </label><input class="info" type="text" name="minimum"/></p>
              <p  class ="form-info"><label>Recurring</label> <input class="info checkbox" type = "checkbox" name="recurring" class= "recurring-check" value=true /></p>

              <h2 class="submit-form"><span><i class="fa fa-plus" style="font-size:24px"></i></span>   Add New Bill</h2>
          </form>
        </div>
  </div>




<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</body>
</html>
